nav {
  background-color: rgba(200, 60, 200);
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  display: flex;

}
li {
  cursor: pointer;
  margin: .7em;
  margin-top: 0em;
}
